<div class="experience">
  <p class="experience_title"> Work Experience </p>
  
    <!-- Section: Timeline -->
  <section class="py-5">
      <ul class="timeline-with-icons">
        <li class="timeline-item mb-5">
          <span class="timeline-icon">
            <i class="fas fa-rocket text-primary fa-sm fa-fw"></i>
          </span>
    
          <h4 class="fw-bold">Profinch</h4>
          <h5 class="fw-bold">Executive-PreSales(Full Stack Developer with PreSales)</h5>
          <p class="text-muted mb-2 fw-bold">Feb 2022 -  Present (1 year, 3 months)</p>
          <p class="text-muted">
              Working in developing full stack web applications in Angular, Java, Spring Boot and Postgres.
          </p>
  
          <p class="text-muted">
            Developed and implemented an end-to-end Lead Management System Integrated with Flexcube through SOAP APIs
          </p>
  
        <p class="text-muted">Developed an Decisioning Engine to calculate Loan Amount, EMI, Tenure and decide to accept or reject the loan based on the Risk Profile of Customer.
      </p>
  
    <p class="text-muted">Developed POC with Debezium which is a change Data Capture Technology.
  </p>
  
  <p class="text-muted">
    Implemented Wallets Mobile Application for Presales Team.
  </p>
  
  <p class="text-muted">
    Implemented Shell Scripts for CPU Usage alerts through email and Clean-up of Archived Logs.
  </p>
  
  
        </li>
    
        <li class="timeline-item mb-5">
    
          <span class="timeline-icon">
            <i class="fas fa-rocket text-primary fa-sm fa-fw"></i>
          </span>
          <h4 class="fw-bold">Tata Consultancy Services(TCS)</h4>
          <h5 class="fw-bold">System Engineer</h5>
          <p class="text-muted mb-2 fw-bold">Oct 2019 - Feb 2022 (2 years 5 months)</p>
          <p class="text-muted">
              Worked as Full Stack Developer in TCS for HP(a Fortune 500) US ecommerce project, primarily in HTML, CSS, JavaScript and Java.
          </p>
          <p class="text-muted">
            Implemented a Code Fix for a critical Bug for Returns of products after Card Decline.        </p>
  
          <p class="text-muted">
            Analysed and provided a root cause analysis for a critical production issue which improved the ETL jobs execution and site performance by 16%.        </p>
  
          <p class="text-muted">
            Provided a RCA for False Order alerts issue for which I received an Client Appreciation.        </p>
        </li>
      </ul>
    </section>
    <!-- Section: Timeline -->
  </div>